.input {
  border-width: 0px;
  height: 25px;
  outline: none;
  background-color: transparent;
}
.image-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 1px;
  border-style: solid;
  border-color: #7b8794;
  border-radius: 6px;
  padding: 5px;
  background-color: transparent;
}
.heading {
  font-size: 30px;
  font-weight: bold;
  color: #1e293b;
  font-family: 'Bree Serif';
}
.image {
  height: 20px;
  width: 20px;
  background-color: transparent;
}
.cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  min-height: 100vh;
  background-image: linear-gradient(#fff1eb, #ace0f9);
}
.tab-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding-left: 0px;
  margin-left: 0px;
  background-color: transparent;
}
.card-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  width: 600px;
}
